h1 {
    font-family: 'Century Gothic', CenturyGothic, Arial;
}

body{
    background-color: #000000;
    color: gold;
    text-align: center;
    font-family: Arial;
    font-size: 6vw;
}

.block {
    padding: 1em;
    font-family: sans;
    font-size: 1em;
}

.golden-base {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.2em;
}

.golden1 {
    background-image: -webkit-linear-gradient(#FFF65C, #3A2C00);
    text-shadow: -0.02em -0.03em 0.005em rgba(255, 223, 0, 0.60);
    font-size: 2em;
}

.golden2 {
    background-image: -webkit-linear-gradient(#E8D800, #E0CF00 52%, #A86800 55%, #A86800 );
    text-shadow: -0.02em -0.03em 0.005em rgba(255, 255, 0, 0.56);
    font-size: 2em;
}

.golden3 {
    background-image: -webkit-linear-gradient(#FFF65C 45%, #9A8000 75%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09), -1px -1px 0 rgba(255, 220, 0, 0.670);
    font-size: 2em;
}